<header id="main-header">
    <div id="logo">
        <a href="/">CRUD</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Members</a></li>
            <li><a href="/create">Add New Member</a></li>
        </ul>
    </nav>
</header>